* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signika', sans-serif;
  color: white;
  background-color: #053C5E;
}

header {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
}

.full {
  min-height: 40vh;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  padding: 12px 20px;
  width: 50vw;
  border-radius: 10px;
  border: none;
}

.search-button {
  font-family: 'Signika', sans-serif;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}

main {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.book {
  color: black;
  background-color: white;
  border-radius: 10px;
  width: 80vw;
  padding: 2rem;
  margin: 0 10vw;

  display: flex;
  flex-direction: column;
}

.book .image {
  min-width: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.book img {
  min-height: 15rem;
  width: 100%;
}

.book .description {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.book .description .summary {
  display: none;
}

.book .description a {
  color: black;
  text-decoration: none;
  border: 1px black solid;
  padding: 0.3rem 0.6rem;
}

.book .description a:hover {
  color: white;
  background-color: black;
  border: 1px black solid;
  padding: 0.2rem 0.5rem;
}

footer {
  padding: 1rem 0;
  height: 5vh;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
}

@media only screen and (min-width: 425px){
  .book .description .summary {
    display: initial;
  }
}

@media only screen and (min-width: 768px){
  body {
    font-size: 1.2rem;
  }

  .book {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px){
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
  }

  .book{
    margin: 0;
    width: 40vw;
  }
}